@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow{
    text-shadow: 2px 5px 6px rgba(0,0,0,0.5)
}

.button-shadow{
    box-shadow: 0px 5px 20px rgba(0,0,0,0.3);
}
.cadre-shadow{
    box-shadow: 0px 2px 20px rgba(0,0,0,0.2)
}

.text-smaul{
    font-size: 13px;
}

.text-vrsm{
    font-size: 14px;
}